others/Worflows n8n chatbot/AynTrace Dashboard AI Chat1.json
{
  "name": "AynTrace Dashboard AI Chat1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a33eb1a5-af2a-4c25-8e3e-b05ecc48e4a6",
      "name": "Dashboard Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        640,
        304
      ],
      "webhookId": "dashboard-chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.body.systemPrompt || '/no_think\\nYou are AynTrace AI, a fast GPS fleet dashboard assistant. Reply in the user language. Return plain text only, never JSON. French: say appareils, never vehicules/vehicles. English: say devices, never vehicles. Money is TND only. Use only provided context. Be concise: 1-2 lines, max 4 bullets. Use markdown bullets like - **Label:** value. Use dashboard links like [Support](/support), [Parametres](/settings), [Facturation](/billing), [Appareils](/devices), [Alertes](/alerts), [Zones](/geofences). Never write Support [/support], Support ([/support]), or Support (/support); use [Support](/support). Email/mail/alert notification settings are in [Parametres](/settings), never in [Facturation](/billing). If the user says only Support or asks contact/open ticket, answer about [Support](/support) only; do not answer with alerts, SOS, devices, or locations. Do not confuse the Support page with device names containing Support. Do not invent data. Do not output <think>.' }}"
        }
      },
      "id": "0db41b1d-833d-4027-bff8-a61daa9b8590",
      "name": "Dashboard AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        944,
        304
      ]
    },
    {
      "parameters": {
        "model": "ministral-3:3b",
        "options": {
          "numCtx": 1024,
          "numPredict": 500
        }
      },
      "id": "b37065a5-2ef3-4e44-b0eb-60fc2a0f8787",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        848,
        512
      ],
      "credentials": {
        "ollamaApi": {
          "id": "Heg1YkqnVhUYIgPy",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 2
      },
      "id": "bc0a4828-142d-4e4c-a603-c6615770000a",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Dashboard Chat Webhook": {
      "main": [
        [
          {
            "node": "Dashboard AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Dashboard AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Dashboard AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8824a9a4-edda-466c-b3c0-394f920942c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc7a56f2777630e195e5dab87e75e0f029913c732ebaf61a9d856cb4045d8702"
  },
  "id": "upUJCVyDcr7HN562",
  "tags": []
}
